@if (@User.Identity.IsAuthenticated)
{
    using (Html.BeginForm("LogOut", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {

        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Hello reader" , "Index", "Home")
            </li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Sign up", "Register", "Account")</li>
        <li>@Html.ActionLink("Log in", "LogIn", "Account")</li>
    </ul>
}

